/*--------------------------------------
*********** START RESET ***********
--------------------------------------*/
/*@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');*/
@font-face{font-family:Cairo;src:url(../fonts/Cairo-Regular.ttf)}
@font-face{font-family:Cairo-Black;src:url(../fonts/Cairo-Black.ttf)}
@font-face{font-family:Cairo-Bold;src:url(../fonts/Cairo-Bold.ttf)}
@font-face{font-family:Cairo-ExtraLight;src:url(../fonts/Cairo-ExtraLight.ttf)}
@font-face{font-family:Cairo-Light;src:url(../fonts/Cairo-Light.ttf)}
@font-face{font-family:Cairo-SemiBold;src:url(../fonts/Cairo-SemiBold.ttf)}


.body-over {
    overflow-y: hidden !important;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color:#73cadb;
    outline: 1px solid #fff;
    border-radius: 0px;
}


::-moz-selection {
    background: #d0942a;
    color: #fff;
}


::selection {
    background: #d0942a;
    color: #fff;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none !important;
}
body , html{
    height: 100%;
    width: 100%
}
body {
   font-family:Cairo,sans-serif;
    font-style:normal;
    font-weight:300;
    padding: 0 !important;
    margin: 0 !important;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 1.6;
    overflow-x: hidden !important;
     direction: rtl;
    text-align: right;
    position: relative;
    background-color: #dbf3fd
   
}
/*body::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(147, 214, 255, 0.29);
}*/
/*******************************************************************/
  /*componenent*/
/*******************************************************************/
.aligne-center{
    text-align: center
}
.aligne-left{
    text-align: left
}
.aligne-right{
    text-align: right
}
.bold{
    font-weight: bold
}
/*******************************************************************/
 /********absluote **************/
/*******************************************************************/

.flower{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 240px;
}
.coffee {
    position: absolute;
    left: 0;
    top: 23%;
    width: 370px;
}

/*******************************************************************/
  /*header*/
/*******************************************************************/
.header{
    padding: 50px 0
}

img.logo {
    width: 60px;
}

.social{
    position: relative;
    z-index: 99;
    
}
.social a {
    margin-left: 15px;
    color: #4d6a7d;
    text-decoration: none;
    font-size: 16px;
    transition: all .4s ease-in-out
}
.social a:hover i {
    animation: bump .4s ease-in-out;
}
.logo-flex{
    display: flex;
    align-items: center;
    justify-content: flex-end
}
.logo-flex img{ 
    margin-right: 15px
}
.logo-bold {
    font-size: 25px;
    margin-bottom: -7px;
}




@-webkit-keyframes bump {
  33% {
    -webkit-transform: scale(1.4);
  }
  66% {
    -webkit-transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.0);
  }
}

/*************************************************************************************************/
/***************content***************/
/************************************************************************************************/



.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #7bc9dd;
  padding: 13px 50px;
  margin:18px 0 ;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    border-radius: 10px;
    width: 170px
}

.btn span {
  position: relative; 
  z-index: 1;
    font-size: 20px
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #303e48;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-110%) translateY(-25%) rotate(45deg);
}
.btn:hover {
color: #fff
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: unset;
}
.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.content-words {
    text-align: right;
}
.content .row {
    display: flex;
    align-items: center;
}
img.coffee1 {
    width: 230px;
}
.p-code{
    font-size: 16px
}
.regist-now{
    
    font-weight: bold;
    }
/*************************************************************************************************/
/**************footer****************/
/*************************************************************************************************/
.footer-words{
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    
}
.footer-words p{
    color: #fff;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 0;
    text-transform: uppercase;
    
    
}
.footer-words .p1{
    font-family: Cairo-Black
    
}
.footer-words .p2{
    font-family: Cairo-Light;
    margin-top: -20px;
   
}
/*************************************************************************************************/
/******************************/
/*************************************************************************************************/

section.special ul li {
	width: 90px;
	height: 90px;
	border: 2px solid #96663d;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-bottom: 10px;
}

.special {
	padding: 30px;
}

.special .content-form {
	-webkit-box-shadow: 0px 0px 16px 0 rgb(61, 73, 82);
	-moz-box-shadow: 0px 0px 16px 0 rgb(61, 73, 82);
	box-shadow: 0px 0px 16px 0 rgb(61, 73, 82);
	padding: 20px 0;
	border-radius: 20px;
	position: relative;
	/*height: 100%;*/
	width: 100%;
}

form.form-login {
	padding: 5px 20px;
	width: 90%;
	margin: auto;
	text-align: right;
}


.sec-title.text-center h2 {
	color: #96663d;
}

.form-group label {
	font-size: 15px;
	font-weight: bold;
	color:#303e48;
}

.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff0;
	background-clip: padding-box;
	border: 0;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	border-bottom: 2px solid #73cadb;
	color: #7d7d7d
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: unset;
	outline: 0;
	box-shadow: unset;
}

.submit {
	width: 17%;
	height: 50px;
	background-color: #73cadb;
	color: #fdfaf7;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: all .4s ease-in-out;
	border-radius: 10px;
    cursor: pointer !important
}

.submit:hover {
	color: #fff;
	background-color:#73cadb;
}

.align-center {
	text-align: center
}

.form-group.align-center {
	margin-top: 40px;
}

.login {
    text-align: center;
   
    font-size: 30px;
    font-weight: bold;
    color: #303e48;
}

.container.flex-content {
	height: calc(100% - 110px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container.flex-content .row {
	width: 100%
}

.logoooo {
	margin-top: 50px !importaant;
}


/*********************************************************/


/*radio button*/


/********************************************************/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: #3d4952;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	right: 0;
	top: -4px;
	width: 18px;
	height: 18px;
	border: 1px solid #ddd;
	border-radius: 100%;
	background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: #73cadb;
	position: absolute;
	top: -1px;
	right: 3px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

[type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
	display: none;
}

.flex-group {
	display: flex
}

.flex-group {
	display: flex;
	font-size: 16px;
	font-weight: bold;
}

.type {
	color: #73cadb;
	margin-left: 29px;
}

.marg-right {
	margin-right: 20px
}

section.special ul li img {
	width: 50px;
}

.content-form {
    position: relative;
    z-index: 99;
    width: 57%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.77);
    padding: 20px 0;
    border-radius: 20px;
    padding-top: 0
}
.header-content{
    width: 100%;
    height: 20px;
    border-radius: 20px 20px 0 0;
    background: #73cadb;
    margin-bottom: 20px
}

/*****responsive***********/
@media only screen and (max-width: 600px) {
    img.logo {
    width: 42px;
}
    .logo-bold {
    font-size: 19px;
    margin-bottom: -7px;
}
    .special-coffe{
        font-size: 9px
    }
     .content-form {
   
    top: 60px
  
}
    .social a {
    margin-left: 10px;
   ;
    font-size: 15px;
}
/***content*/
    .regist-now{
        font-size: 18px;
    font-weight: bold;
    }
img.coffee1 {
    width: 165px;
}
    .btn{
        width: 135px
    }
    .btn:after {

    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-121%) translateY(-18%) rotate(45deg);
}
  .p-code {
    font-size: 14px;
}
    .footer-words p {
   
    font-size: 23px;
   
    text-transform: uppercase;
}
    
    .footer-words .p2 {
    font-family: Cairo-Light;
    margin-top: -8px;
}
    .header {
    padding: 40px 0;
}
    section.content {
    padding: 50px 0;
}

} 
@media only screen and (max-width: 450px) {
    .content-form {
   
    width: 85%;
  
}
    .submit {
    width: 35%;
    
}
} 
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
       section.content {
    padding: 50px 0;
}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}













/* start loading */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    background:#303e48;
    right: 0;
    margin: 0 auto;
}

.loading {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 400px;
    height: 400px;
}

.loader-outer {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border-bottom: 1px solid #303030;
    background: #151515;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 1;
}

.loader-outer .loader-inner {
    position: absolute;
    margin: auto;
    top: -29px;
    left: -100px;
    width: auto;
    height: 58px;
    color: #447689;
    text-align: center;
    text-shadow: 0 0 20px #447689;
    font-size: 60px;
    z-index: 2;
    animation: load 2s infinite linear;
}

.loader h1 {
    position: absolute;
    margin: auto;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 85px;
    height: 40px;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0 0 20px #447689;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: lighter;
    color: #447689;
}

.loader h1 span {
    display: none;
}

.loader h1::after {
    animation: txt 1s infinite;
    content: "";
}

@keyframes load {
    0% {
        left: -100px;
    }

    100% {
        left: 220px;
    }
}

@keyframes txt {
    0% {
        content: "LOADING";
    }

    35% {
        content: "LOADING.";
    }

    65% {
        content: "LOADING..";
    }

    100% {
        content: "LOADING...";
    }
}
